@import "variables.less";

// Sidebar Components

// Large Screen
@media (min-width: 1200px) {
  .page-about .postlist-container {
    width: 66%;
    margin-left: 0;
    padding-right: 4%;
  }

  .page-about .sidebar-container {
    width: 30%;
    margin-left: 3%;
    padding-right: 15px;
  }

  .post-container,
  .sidebar-container {
    padding-right: 5%;
  }
}

.page-about .sidebar-container .featured-tag-panel {
  margin-bottom: 28px;
}

.page-about .sidebar-container > section.visible-md.visible-lg {
  margin-top: 0;
}

.page-about .sidebar-container > section.visible-md.visible-lg > hr {
  display: none;
}

.page-about .sidebar-container .short-about {
  margin-top: 0;
}
@media (min-width: 768px) {
  .post-container {
    padding-right: 5%;
  }
}

// Container of Sidebar, also Friends
.sidebar-container {
  color: @gray-light;
  font-size: 14px;
  h5 {
    color: @brand-gray;
    padding-bottom: 1em;
    a {
      color: @brand-gray !important;
      text-decoration: none;
    }
  }
  a {
    color: @gray-light !important;
    &:hover,
    &:active {
      color: @brand-primary !important;
    }
  }
  .tags {
    a {
      border-color: @gray-light;
      &:hover,
      &:active {
        border-color: @brand-primary;
      }
    }
  }
  .short-about {
    padding: 0 4px;

    img {
      width: 100%;
      max-width: 220px;
      display: block;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .list-inline > li {
      padding-left: 0px;
    }
  }
}
