{% comment %}
    @param {boolean} bottom - bottom will render <hr> 
{% endcomment %}

{% if site.featured-tags %}
<section class="featured-tag-panel">
    {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
    {% endif %}
    <div class="featured-tag-panel__head">
        <h5><a href="{{ '/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
        <span class="featured-tag-panel__meta">{{ site.visible_post_count | default: site.posts.size }} posts</span>
    </div>
    <div class="tags featured-tag-panel__list">
        {% for item in site.tag_index limit: 8 %}
        <a
            href="{{ '/tags/' | prepend: site.baseurl }}#{{ item.slug }}"
            title="{{ item.name }}"
            rel="{{ item.count }}">
            {{ item.name }}
            <span>{{ item.count }}</span>
        </a>
        {% endfor %}
    </div>
</section>
{% endif %}
